
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-background: 237,241,245;
  --color-foreground: 250,250,250;
  --color-foreground-grey: 245,246,246;
  --color-foreground-grey-dark: 234,236,237;
  --color-foreground-blue: 246,248,251;
  --color-foreground-blue-dark: 241,243,247;
  --color-background-blue-dark: 31,35,45;
  --color-overlay: 31,38,49;
  --color-shadow: 49,54,68;
  --color-shadow-dark: 6,13,34;
  --color-shadow-blue: 103,132,187;
  --color-text: 92,114,138;
  --color-text-light: 122,133,143;
  --color-text-lighter: 146,153,161;
  --color-text-bright: 237,241,245;
  --color-blue: 61,180,242;
  --color-blue-dim: 141,178,219;
  --color-white: 255,255,255;
  --color-black: 0,0,0;
  --color-red: 232,93,117;
  --color-peach: 250,122,122;
  --color-orange: 247,154,99;
  --color-yellow: 247,191,99;
  --color-green: 123,213,85;
  --color-background-100: 251,251,251;
  --color-background-200: 237,241,245;
  --color-background-300: 221,230,238;
  --color-background-400: 201,215,227;
  --color-background-500: 173,192,210;
  --color-background-600: 139,160,178;
  --color-background-700: 116,136,153;
  --color-background-800: 100,115,128;
  --color-background-900: 81,97,112;
  --color-background-1000: 64,78,92;
  --color-background-1100: 38,52,63;
  --color-background-1200: 27,30,31;
  --color-gray-100: 251,251,251;
  --color-gray-200: 237,241,245;
  --color-gray-300: 221,230,238;
  --color-gray-400: 201,215,227;
  --color-gray-500: 173,192,210;
  --color-gray-600: 139,160,178;
  --color-gray-700: 116,136,153;
  --color-gray-800: 100,115,128;
  --color-gray-900: 81,97,112;
  --color-gray-1000: 64,78,92;
  --color-gray-1100: 38,52,63;
  --color-gray-1200: 27,30,31;
  --color-blue-100: 247,250,252;
  --color-blue-200: 236,246,254;
  --color-blue-300: 201,232,255;
  --color-blue-400: 143,215,255;
  --color-blue-500: 111,200,255;
  --color-blue-600: 61,180,242;
  --color-blue-700: 8,143,214;
  --color-blue-800: 12,101,166;
  --color-blue-900: 11,70,113;
  --color-blue-1000: 16,61,85;
  --color-green-100: 245,249,243;
  --color-green-200: 226,246,217;
  --color-green-300: 160,241,126;
  --color-green-400: 119,220,76;
  --color-green-500: 83,175,45;
  --color-green-600: 56,126,26;
  --color-green-700: 46,90,27;
  --color-green-800: 41,66,31;
  --color-red-100: 255,244,246;
  --color-red-200: 254,212,220;
  --color-red-300: 255,140,160;
  --color-red-400: 236,41,75;
  --color-red-500: 213,0,37;
  --color-red-600: 165,1,29;
  --color-red-700: 117,0,20;
  --media-text: hsl(338,73%,60%);
  --media-background: hsl(338,73%,60%);
  --media-background-text: hsl(337,100%,94%);
  --media-overlay-text: hsl(337,80%,70%);
}

.App {
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-background));
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--color-text));
  margin: 0;
  padding: 0;
}

.cover {
  background: rgba(var(--color-background-300),.8);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.cover_image{
  border-radius: 5px;
}

.title {
  color: rgb(var(--color-gray-600));
  font-size: 0.86rem;
  font-weight: 500;
  line-height: 21px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.title_h3 {
  color: rgb(var(--color-gray-900));
  letter-spacing: .01em;
  font-size: 0.98rem;
  font-weight: 640;
  line-height: 21px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.anime_list_title {
  margin-bottom: 15px;
}

.anime_list_title_user{
  margin-bottom: 15px;
  color:darkgoldenrod
}

.anime_item_container {
  background-color: rgb(var(--color-background-100));
  border-radius: 4px;
  padding: 10px;
  display: inline-grid;
  min-height: 80px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);

}

.anime_item {
  animation: in-data-v-70df6e62 .3s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(var(--color-background-100));
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
  display: inline-grid;
  grid-template-columns: 48px auto;
  position: relative;
  text-align: left;
  min-height: 80px;
}

.anime_item_table {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.content {
  padding: 8px 16px;
  padding-right: 8px;
  min-width: 0;
  align-items: center;
  display: grid;
  grid-template-columns: minmax(auto,calc(100% - 440px)) 130px 130px 150px;
  grid-gap: 10px;
}

.title-wrap {
  color: rgb(var(--color-gray-900));
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.percentage {
  display: inline-block;
  padding-left: 2px;
}

.sub-row {
  color: rgb(var(--color-gray-600));
  font-size: 0.72rem;
}

.up-row {
  color: rgb(var(--color-gray-900));
  font-size: 0.82rem;
  font-weight: 550;
}

.genres {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 18px;
  overflow: hidden;
  margin-left: -2px;
}

.genre {
  background: var(--media-background);
  border-radius: 9px;
  color: var(--media-background-text);
  display: inline-block;
  font-size: 0.64rem;
  font-weight: 700;
  height: 17px;
  line-height: 1.1rem;
  margin-right: 8px;
  padding: 0 8px;
  text-transform: lowercase;
}

.filters {
  margin: 40px 0;
  margin-bottom: 25px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(5,170px);
}

.name {
  color: rgb(var(--color-gray-900));
  font-size: 0.9rem;
  font-weight: 520;
  padding: 10px 0;
  text-transform: capitalize;
}

.search-wrap {
  background: rgb(var(--color-background-100));
  border-radius: 6px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.1),0 4px 4px rgba(var(--color-shadow-blue),.04);
  display: grid;
  font-size: 0.88rem;
  font-weight: 600;
  grid-gap: 10px;
  /*grid-template-columns: 13px auto 13px;*/
  grid-template-columns: auto;
  letter-spacing: .03rem;
  padding: 11px 16px;
  padding-left: 13px;
}

.search {
  background: 0 0;
  border: none;
  color: rgb(var(--color-gray-700));
  display: inline-block;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  height: 18px;
}

.banner {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -84px;
}

.overlap-banner {
  margin-top: -125px;
}

.container-detail-desc {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 215px auto;
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

.cover-detail {
  background-color: rgba(212,230,245,.5);
  border-radius: 6px;
  box-shadow: 0 0 29px rgba(49,54,68,.3);
  margin-top: 15px;
  width: 100%;
}

.content-detail {
  display: inline-grid;
  grid-template-rows: min-content min-content auto;
  padding-top: 25px;
}

.description-detail {
  color: rgb(var(--color-text-light));
  font-size: 0.88rem;
  line-height: 1.5;
  margin: 0;
  max-width: 900px;
  padding: 15px 0;
}

.title-detail {
  font-size: 1.18rem;
  font-weight: 400;
}

.content-detail-comments {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 208px auto;
  margin-top: 30px;
  position: relative;
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  padding-bottom: 90px;
}

.detail-review-wrap {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  margin-top: 30px;
  overflow: hidden;
}

.comment-item {
  display: grid;
  grid-template-columns: 50px auto;
}

.comment-user-logo {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.comment-item-area {
  align-items: center;
  background: rgb(var(--color-foreground));
  border-radius: 5px;
  display: block;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  position: relative;
}

.comment-item-content {
  color: rgba(var(--color-text),.9);
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.4;
  padding: 13px 15px;
  padding-right: 25px;
  text-align: center;
}

.comment-item-date {
  bottom: 2px;
  color: rgb(var(--color-text-lighter));
  font-size: 0.64rem;
  position: absolute;
  right: 4px;
  font-style: italic;
}

.comment-item-delete {
  top: 2px;
  color: rgb(var(--color-text-lighter));
  font-size: 0.64rem;
  position: absolute;
  right: 4px;
  font-style: italic;
}

.comment-item-delete:hover {
  top: 2px;
  color: rgb(var(--color-text-lighter));
  font-size: 0.64rem;
  position: absolute;
  right: 4px;
  font-style: italic;
  color:crimson;
  cursor: pointer;
}

.detail-header-wrap {
  background: rgb(var(--color-foreground));
}

.comment-textarea{
  color: rgba(var(--color-text),.9);
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.4;
  padding: 13px 15px;
  padding-right: 25px;
  text-align: left;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  background: rgb(var(--color-foreground));
  display: block;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.comment-title {
  margin-top: 25px;
  font-size: 1.05rem;
  font-weight: 420;
}

.post-btn {
  margin-top: 12px;
  font-size: 0.85rem;
  line-height: 13px;
}

.side-bar-wrap {
  margin-top: 25px;
}

.side-bar-rank {
  margin-bottom: 16px;
  background: rgb(var(--color-foreground));
  border-radius: 6px;
  display: block;
  padding: 8px 18px;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 600;
  color:deeppink;
}

.side-bar-data {
  background: rgb(var(--color-foreground));
  border-radius: 6px;
  padding: 18px;
}

.side-bar-data-set {
  padding-bottom: 14px;
}

.side-bar-dataset-title {
  font-size: 0.81em;
  font-weight: 500;
  padding-bottom: 5px;
}

.side-bar-dataset-value {
  color: rgb(var(--color-text-lighter));
  font-size: 0.75rem;
  line-height: 1.3;
}

.no-comment-found-text {
  font-size: 0.9rem;
  font-style: italic;
  color: rgb(var(--color-text-lighter));
}

.select-role-wrap {
  background: rgb(var(--color-background-100));
  border-radius: 6px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.1),0 4px 4px rgba(var(--color-shadow-blue),.04);
  display: grid;
  font-size: 1.0rem;
  font-weight: 600;
  grid-gap: 10px;
  /*grid-template-columns: 13px auto 13px;*/
  grid-template-columns: auto;
  letter-spacing: .03rem;
  padding: 10px;
  padding-left: 8px;
}

.select-role {
  background: 0 0;
  border: none;
  color: rgb(var(--color-gray-700));
  display: inline-block;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  height: 18px;
}

.select-report-type{
  background: 0 0;
  border: none;
  color: rgb(var(--color-gray-700));
  display: inline-block;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  height: 19px;
}

.activity-wrap {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: auto;
  margin-top: 10px;
  overflow: hidden;
}

.activity-item {
  align-items: center;
  background: rgb(var(--color-foreground));
  border-radius: 3px;
  display: flex;
  position: relative;
  justify-content: center;
}

.activity-item-content {
  color: rgba(var(--color-text),.9);
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.4;
  padding: 4px 15px;
  padding-right: 25px;
  text-align: center;
}

.activity-item-date {
  bottom: 2px;
  color: rgb(var(--color-text-lighter));
  font-size: 0.64rem;
  position: absolute;
  right: 4px;
  font-style: italic;
}

.activity-title {
  margin-top: 25px;
  font-size: 1.05rem;
  font-weight: 420;
}

.profile-page {
  background: rgb(var(--color-background));
  padding-bottom: 100px;
}

.profile-information-container {
  background: rgb(var(--color-foreground));
  border-radius: 12px;
  padding: 25px;
  margin-left: 320px;
  margin-right: 320px;
  min-width: 500px;
}

.profile-information-content {
  display: grid;
  grid-template-columns: 160px 1fr 1fr;
  margin-bottom: 5px;
  grid-gap: 25px;
}

.profile-anime-list-container {
  background: rgb(var(--color-foreground));
  border-radius: 12px;
  margin-left: 320px;
  margin-right: 320px;
  min-width: 0;
  display: grid;
  grid-gap: 20px;
}

.profile-section {
  margin-bottom: 10px;
}

.profile-section-title {
  color: rgb(var(--color-text));
  padding-left: 3px;
  font-size: 0.88rem;
  font-weight: 650;
  margin-bottom: 4px;
}

.profile-section-data {
  position: relative;
  font-size: 0.9rem;
  font-style: italic;
  display: inline-block;
  width: 100%;
  background: rgb(var(--color-background));
  border-radius: 5px;
  color: rgb(var(--color-text-light));
  padding: 6px 10px;
  border-width: 0px;
}

.profile-section-buttons {
  margin-bottom: 35px;
}
.profile-section-signout {
  float: right;
  font-size: 0.9rem;
  display: inline-block;
  border-width: 0px;
  width: 100px;
  background: rgb(var(--color-background-400));
  border-radius: 5px;
  color: rgb(var(--color-text));
  padding: 6px 8px;
}

.profile-section-update {
  float: right;
  margin-right: 10px;
  font-size: 0.9rem;
  display: inline-block;
  border-width: 0px;
  width: 100px;
  background: rgb(var(--color-background-400));
  border-radius: 5px;
  color: rgb(var(--color-text));
  padding: 6px 8px;
}

.description-textarea{
  color: rgba(var(--color-text),.9);
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.4;
  padding: 13px 15px;
  padding-right: 25px;
  text-align: left;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  background: rgb(var(--color-background));
  display: block;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.signup-page {
  padding-top: 120px;
  padding-bottom: 300px;
}

.signup-container {
  background: rgb(var(--color-background-400));
  border-radius: 12px;
  padding: 30px;
  margin-left: 15%;
  margin-right: 15%;
  min-width: 0;
}

.signup-button {
  font-size: 0.95rem;
  display: inline-block;
  border-width: 0px;
  background: rgb(var(--color-background-700));
  border-radius: 5px;
  color: rgb(var(--color-white));
  padding: 6px 8px;
}

.signup-title {
  margin-left: 15%;
  margin-bottom: 15px;
  font-size: 1.55rem;
}

.login-page {
  padding-top: 120px;
  padding-bottom: 450px;
}

.login-container {
  background: rgb(var(--color-background-400));
  border-radius: 12px;
  padding: 30px;
  margin-left: 15%;
  margin-right: 15%;
  min-width: 0;
}

.login-button {
  font-size: 0.95rem;
  display: inline-block;
  border-width: 0px;
  background: rgb(var(--color-background-700));
  border-radius: 5px;
  color: rgb(var(--color-white));
  padding: 6px 8px;
}

.login-title {
  margin-left: 15%;
  margin-bottom: 15px;
  font-size: 1.55rem;
}

.detail-actions {
  display: grid;
  grid-template-columns: auto 35px;
  margin-bottom: 18px;
  margin-top: 18px;
  grid-gap: 15px;
}

.detail-add-watch {
  align-items: center;
  background: rgb(var(--color-blue));
  border-radius: 3px;
  color: rgb(var(--color-white));
  cursor: pointer;
  display: flex;
  font-size: 0.88rem;
  justify-content: center;
  line-height: 0.85rem;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-left: 1px;
}

.detail-add-favorite {
  align-items: center;
  background: rgb(var(--color-red-400));
  border-radius: 5px;
  color: rgb(var(--color-white));
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: 800;
  height: 35px;
  justify-content: center;
  padding-left: 1px;
  transition: .2s;
  padding: 11px 11px;
}

.detail-add-favorite-fav {
  color: gold;
}

.anime-profile-item-content {
  padding: 8px 16px;
  padding-right: 8px;
  min-width: 0;
  align-items: center;
  display: grid;
  grid-template-columns: minmax(auto,calc(100% - 380px)) 120px 120px 110px;
  grid-gap: 10px;
}

.profile-favorites-title {
  margin-left: 325px;
  font-size: 1.55rem;
  font-weight: 520;
  margin-top: 60px;
  margin-bottom: 15px;
  color: rgb(var(--color-background-700));
}

.nav-container {
  display: flex;
  position: relative;
  height: 66px;
  justify-content: center;
  left: 0;
  top: 0;
  background: #2b2d42;
  color: #bcbedc;
  z-index: 9999;
}

.nav-container-detail {
  display: flex;
  position: relative;
  height: 66px;
  justify-content: center;
  left: 0;
  top: 0;
  background: #2b2d4275;
  color: #bcbedc;
  z-index: 9999;
}

.nav-content {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1050px;
  width: 100%;
}

.nav-logo {
  align-items: center;
  display: inline-flex;
  height: 55px;
  justify-content: center;
  width: 65px;
}

.nav-logo-img {
  width: 155px;
  margin-left: 15px;
}

.nav-controls {
  align-items: center;
  display: inline-flex;
  font-size: 0.88rem;
  font-weight: 600;
  justify-content: center;
  width: 100%;
}

.nav-login {
  letter-spacing: .01em;
  padding: 18px 16px;
  margin-left: 70px;
  padding-right: 24px;
  color: rgb(188, 190, 220)
}

.nav-login:hover {
  letter-spacing: .01em;
  padding: 18px 16px;
  margin-left: 70px;
  padding-right: 24px;
  color: white;
}

.nav-signup {
  background: #3577ff;
  border-radius: 6px;
  box-shadow: 0 0 0 rgba(8,150,230,.6);
  color: rgb(var(--color-white));
  font-weight: 540;
  margin-right: -480px;
  padding: 7px 15px;
}

.nav-signup:hover {
  background: #3577ffcc;
  border-radius: 6px;
  box-shadow: 0 0 0 rgba(8,150,230,.6);
  color: rgb(var(--color-white));
  font-weight: 540;
  margin-right: -480px;
  padding: 7px 15px;
}

.nav-profile {
  letter-spacing: .01em;
  padding: 18px 16px;
  margin-right: -500px;
  color: rgb(188, 190, 220)
}

.nav-profile:hover {
  letter-spacing: .01em;
  padding: 18px 16px;
  margin-right: -500px;
  color: white;
}

.profile-follower-container {
  border-radius: 12px;
  margin-left: 325px;
  margin-right: 320px;
  min-width: 0;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(6, 1fr);
}

.profile-follower-img {
  border-radius: 6px;
  width: 100px;
  height: 100px;
  box-shadow: 0 6px 5px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.10);
}

.profile-follower-name {
  max-width: 62px;
  font-size: 1.00rem;
  font-weight: 300;
  color:var(--color-text);
  position: relative;
  float: left;
  left: 50%;
  transform: translate(-50%, 12%);
}

.profile-follower-link {
  color: var(--color-text);
}

.profile-follower-link:hover {
  color: rgb(var(--color-red-400));
}

.profile-section-avatar-img {
  height: 152px;
  border-radius: 6px;
  box-shadow: 0 6px 5px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.10);
}

.profile-feel-lucky {
  width: 152px;
  border-width: 0px;
  margin-top: 10px;
  border-radius: 4px;
  margin-left: -2px;
  font-size: 0.9rem;
  padding: 6px 10px;
  font-weight: 400;
  color:whitesmoke;
  background-color: darkseagreen;
}

.profile-feel-lucky:hover {
  width: 152px;
  border-width: 0px;
  margin-top: 10px;
  border-radius: 4px;
  margin-left: -2px;
  font-size: 0.9rem;
  padding: 6px 10px;
  color: black;
  background-color: blanchedalmond;
}

.profile-follow {
  width: 152px;
  border-width: 0px;
  margin-top: 10px;
  border-radius: 4px;
  margin-left: -2px;
  color: var(--color-background-1100);
  font-size: 0.9rem;
  padding: 6px 10px;
  background-color:burlywood;
}

.profile-follow:hover {
  width: 152px;
  border-width: 0px;
  margin-top: 10px;
  border-radius: 4px;
  margin-left: -2px;
  font-size: 0.9rem;
  padding: 6px 10px;
  background-color:gold;
  color: black;
}


.profile-unfollow {
  width: 152px;
  border-width: 0px;
  margin-top: 10px;
  border-radius: 4px;
  margin-left: -2px;
  font-size: 0.9rem;
  padding: 6px 10px;
  background-color:gold;
  color: black;
}

.profile-unfollow:hover {
  width: 152px;
  border-width: 0px;
  margin-top: 10px;
  border-radius: 4px;
  margin-left: -2px;
  font-size: 0.9rem;
  padding: 6px 10px;
  color: var(--color-background-1100);
  background-color:burlywood;
}

.color-text-0 {
  color:crimson;
}
.color-text-1 {
  color:chocolate;
}
.color-text-2 {
  color:goldenrod
}
.color-text-3 {
  color:darkcyan
}
.color-text-4 {
  color:cornflowerblue;
}
.color-text-5 {
  color:blueviolet;
}
.color-text-6 {
  color:violet;
}